/* body{
    background-color: rgb(102, 200, 230);
}

1.lo que este afuera de afuera de un media query es CSS enfocado al movil ( el mas pequeño)
2.los mediaqueries van a atacar al siguiente dispositi mas gran grande 
3.las condiciones del media query deben atacar al ancho minimo(min-width)

desktop first
1.todos lo que este por fuera de un media query es Css enfocado al desktop (el mas grande)
2.los mediaqueries van a atacar al siguiente dispositivo mas pequeño 
3.
.header{
    background-color: brown;
}
@media ( min-width: 567px ) {
    .header {
        background-color: orange;
    }
}

@media ( min-width: 768px ) {
    .header{
        background-color: crimson;
    }
}

.footer{
    background-color: blue;
} */

html {
    background-color: pink;
    font-size: 62.5%;        /* 16 px * 0.625 = 10 px  conversion de base 10*/
}


body {
    
    font-size: 1.6rem;       /** 14px; */
}
.container {
    border: 2px dotted rgb(61, 13, 155);
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0  .8rem;
}

.container-fluid {
    border: 2px dotted orange;
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

/**media queries*/

@media (min-width: 56.7rem ) {
    .container {
        max-width: 56rem;
        padding: 0 1.6rem;
    }
}

@media (min-width: 76.8rem ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
}

@media ( min-width: 99.2rem) {
    .container {
        max-width: 98rem;
        padding: 0 3.2rem;
    }
}

@media ( min-width: 120rem ) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}

